*.log
llama2
run
*/*.tapa
**/vitis_run_hw*
*/.ipcache
**/work.out
*/rs_build*
*/gpt2_build*
*/gpt2_u55c_build*
.vscode/
experiment/
work.out/
components/

benchmark/gating-net/sequential/build/
benchmark/gating-net/spatial/build/
benchmark/gating-net/sequential/gating-net-sequential
nohup.out
hw_emu_out.txt